Resources:
  AWSEBLaunchTemplate:
    Type: 'AWS::EC2::LaunchTemplate'
    Properties:
      LaunchTemplateName: taskmanager-backend-template
      LaunchTemplateData:
        InstanceType: t3.micro # Adjust the instance type as needed
        ImageId: ami-08eb150f611ca277f # Replace with a valid AMI ID for your region and platform
        KeyName: zsue-key.pem # Replace with your EC2 key pair if you need SSH access
        SecurityGroupIds:
          - sg-040c57eb4b73ead3f # Replace with your security group ID
        IamInstanceProfile: 
          Ref: AWSEBInstanceProfile # This should refer to your IAM instance profile
        UserData:
          Fn::Base64: !Sub |
            #!/bin/bash
            yum update -y
            # Example: install Node.js
            curl -sL https://rpm.nodesource.com/setup_18.x | bash -
            yum install -y nodejs
